[Unit]
Description=Daemon to start ark server
After=network.target

[Service]
ExecStart=/usr/libexec/arkmanager/arkmanager.init start --all
ExecStop=/usr/libexec/arkmanager/arkmanager.init stop --all
Type=forking
PIDFile=/var/run/arkmanager.pid

[Install]
WantedBy=multi-user.target
